<form class="registerForm">

  <!-- Username label / input -->
  <div class="registerForm_usernameLabelOuterContainer">
    <div class="registerForm_usernameLabelInnerContainer">
      <label class="registerForm_usernameLabel" for="registerForm_usernameTextBox">
        Username
      </label>
    </div>
    <div class="registerForm_usernameTextBoxContainer">
      <input #username="ngModel" required [(ngModel)]="User.username" name="registerForm_usernameTextBox" class="registerForm_usernameTextBox" id="registerForm_usernameTextBox" type="text" placeholder="Username">
      <div *ngIf="username.invalid && (username.dirty || username.touched)"
           class="alert">
        <div *ngIf="username.errors?.['required']">
          Name is required.
        </div>
      </div>
    </div>
  </div>

  <!-- Password label / input -->
  <div class="registerForm_passwordLabelOuterContainer">
    <div class="registerForm_passwordLabelInnerContainer">
      <label class="registerForm_passwordLabel" for="registerForm_passwordTextBox">
        Password
      </label>
    </div>
    <div class="registerForm_passwordTextBoxContainer">
      <input #password="ngModel" required minlength="8" maxlength="15" [(ngModel)]="User.password" class="registerForm_passwordTextBox" name="registerForm_passwordTextBox" id="registerForm_passwordTextBox" type="text" placeholder="**********">
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
           class="alert">
        <div *ngIf="password.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="password.errors?.['minlength']">
          Password must be between 8-15 characters long.
        </div>
        <div *ngIf="password.errors?.['maxlength']">
          Password must be between 8-15 characters long.
        </div>
      </div>
    </div>
  </div>

  <!-- Email label / input -->
  <div class="registerForm_emailLabelOuterContainer">
    <div class="registerForm_emailLabelInnerContainer">
      <label class="registerForm_emailLabel" for="registerForm_emailTextBox">
        Email
      </label>
    </div>
    <div class="registerForm_emailTextBoxContainer">
      <input #email="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" [(ngModel)]="User.email" class="registerForm_emailTextBox" name="registerForm_emailTextBox" id="registerForm_emailTextBox" type="text" placeholder="**********">
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="alert">
        <div *ngIf="email.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="email.errors?.['pattern']">
          Invalid email.
        </div>
      </div>
    </div>
  </div>

  <!-- Register button -->
  <div class="registerForm_buttonOuterContainer">
    <div class="registerForm_buttonDiv"></div>
    <div class="registerForm_buttonInnerContainer">
      <button (click)="onRegisterButtonClicked()" type="button" class="registerForm_button">
        Register
      </button>
    </div>
  </div>

</form>
