 <!-- <form id="registerPage" class="registerPage">
    <label for="registerFormUsername">Username</label>
    <input type="text" id="registerFormUsername" name="registerFormUsername">

    <label for="registerFormPassword">Password</label>
    <input type="text" id="registerFormPassword" name="registerFormPassword">

    <label for="registerFormVerifyPassword">Verify Password</label>
    <input type="text" id="registerFormVerifyPassword" name="registerFormVerifyPassword">

    <label for="registerFormEmail">Email</label>
    <input type="text" id="registerFormEmail" name="registerFormEmail">

    <button type="button" id="registerFormButton" name="registerFormButton">Register</button>
  </form>-->

