<form class="registerForm">

  <!-- Username label / input -->
  <div class="registerForm_usernameLabelOuterContainer">
    <div class="registerForm_usernameLabelInnerContainer">
      <label class="registerForm_usernameLabel" for="registerForm_usernameTextBox">
        Username
      </label>
    </div>
    <div class="registerForm_usernameTextBoxContainer">
      <input [(ngModel)]="User.username" name="registerForm_usernameTextBox" class="registerForm_usernameTextBox" id="registerForm_usernameTextBox" type="text" placeholder="Username">
    </div>
  </div>

  <!-- Password label / input -->
  <div class="registerForm_passwordLabelOuterContainer">
    <div class="registerForm_passwordLabelInnerContainer">
      <label class="registerForm_passwordLabel" for="registerForm_passwordTextBox">
        Password
      </label>
    </div>
    <div class="registerForm_passwordTextBoxContainer">
      <input [(ngModel)]="User.password" class="registerForm_passwordTextBox" name="registerForm_passwordTextBox" id="registerForm_passwordTextBox" type="text" placeholder="**********">
    </div>
  </div>

  <!-- Verify password label / input -->
  <div class="registerForm_verifyPasswordLabelOuterContainer">
    <div class="registerForm_verifyPasswordLabelInnerContainer">
      <label class="registerForm_verifyPasswordLabel" for="registerForm_verifyPasswordTextBox">
        Verify Password
      </label>
    </div>
    <div class="registerForm_verifyPasswordTextBoxContainer">
      <input class="registerForm_verifyPasswordTextBox" name="registerForm_verifyPasswordTextBox" id="registerForm_verifyPasswordTextBox" type="text" placeholder="**********">
    </div>
  </div>

  <!-- Email label / input -->
  <div class="registerForm_emailLabelOuterContainer">
    <div class="registerForm_emailLabelInnerContainer">
      <label class="registerForm_emailLabel" for="registerForm_emailTextBox">
        Email
      </label>
    </div>
    <div class="registerForm_emailTextBoxContainer">
      <input [(ngModel)]="User.email" class="registerForm_emailTextBox" name="registerForm_emailTextBox" id="registerForm_emailTextBox" type="text" placeholder="**********">
    </div>
  </div>

  <!-- Register button -->
  <div class="registerForm_buttonOuterContainer">
    <div class="registerForm_buttonDiv"></div>
    <div class="registerForm_buttonInnerContainer">
      <button (click)="onRegisterButtonClicked()" type="button" class="registerForm_button">
        Register
      </button>
    </div>
  </div>

</form>
