<form class="loginForm">

  <!-- Username label / input -->
  <div class="loginForm_usernameLabelOuterContainer">
    <div class="loginForm_usernameLabelInnerContainer">
      <label class="loginForm_usernameLabel" for="loginForm_usernameTextBox">
        Username
      </label>
    </div>
    <div class="loginForm_usernameTextBoxContainer">
      <input class="loginForm_usernameTextBox" id="loginForm_usernameTextBox" type="text" placeholder="Username">
    </div>
  </div>

  <!-- Password label / input -->
  <div class="loginForm_passwordLabelOuterContainer">
    <div class="loginForm_passwordLabelInnerContainer">
      <label class="loginForm_passwordLabel" for="loginForm_passwordTextBox">
        Password
      </label>
    </div>
    <div class="loginForm_passwordTextBoxContainer">
      <input class="loginForm_passwordTextBox" id="loginForm_passwordTextBox" type="text" placeholder="**********">
    </div>
  </div>

  <!-- Login button -->
  <div class="loginForm_buttonOuterContainer">
    <div class="loginForm_buttonDiv"></div>
    <div class="loginForm_buttonInnerContainer">
      <button type="button" class="loginForm_button">
        Login
      </button>
    </div>
  </div>

</form>

